  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  {{ with .Params.summary }}<meta name="description" content="{{ . }}">{{ else }}{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}{{ end }}
  <link rel="canonical" href="{{ .Permalink }}">
  {{ with .Site.Params.favicon }}<link rel="icon" href="{{ . | relURL }}">{{ else }}<link rel="icon" href="{{ "favicon.png" | relURL }}">{{ end }}
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
  {{ block "extra_head" . }}{{ end }}

